$hoverColor: lightseagreen;

.header-top-bar {
    //height: 40px;
    background-color: #fff;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #e9eaec;
    padding: 10px 0;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    position: relative;
    @include ubuntu();
    color: #000;
    
    a {     
        color: #000;         
        text-decoration: none;       
        &:hover {
            color: $hoverColor;
        }
        
    }
}


.header-section {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablets {
        justify-content: center;
    }
}

.header-stores-section, .header-info-section {
    display: flex;
    align-items: center;    
    margin: 0 10px;
    span {        
        margin-right: 18px;
        &:last-child{
            margin-right: 0;
        }  
        
        @include phones {
            margin-right: 12px;
        }
    } 

    @include tablets {
        width: 100%;
        justify-content: center;
    }
}

.header-info-section {  
    span {
        a{
        display: flex;
        align-items: center;
        }               
    } 

    @include tablets {
        margin-top: 10px;
    }
}




.header-stores, .header-city {
    display: flex;
}

.location-icon {
    width: 20px;
    height: 20px;        
}

.header-city, .header-phone{
    font-weight: 500;
}

.header-display-on {
    display: inherit;
    opacity: .8;
    transition: .3s;

    &:hover {
        opacity: 1;        
    }
}

.header-display-off {
    display: none;
}

.header-social-icon {
    width: 20px;
    height: 20px;     
}